@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* !CSS RESET */
html {
   box-sizing: border-box;
   font-size: 16px;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
   margin: 0;
   padding: 0;
   font-weight: normal;
}

ol,
ul {
   list-style: none;
}

img {
   max-width: 100%;
   height: auto;
}
/* !END OF CSS RESET */

/*? Variables */

:root {
   --heading-font: "Playfair Display", serif;
   --paragraph-font: "Libre Franklin", serif;

   --bg-color-primary: #344e41;
   --bg-color-secondary: #ffe6a7;
}

/*? General */

body {
   min-height: 100vh;
}

p {
   font-family: var(--paragraph-font);
}

/*? Header */

header {
   background-color: var(--bg-color-primary);
   color: var(--bg-color-secondary);
   min-height: 65vh;
}

h1,
h2,
h3 {
   font-family: var(--heading-font);
}

h1 {
   font-size: 26px;
   font-weight: 500;
   display: flex;
   justify-content: center;
   align-items: center;
}

nav {
   display: flex;
   justify-content: space-around;
   padding: 16px;
}

ul {
   font-family: var(--heading-font);
   display: flex;
   gap: 16px;
   align-items: center;
}

ul li a {
   color: var(--bg-color-secondary);
   text-decoration: none;
   font-size: 19px;
   font-weight: 400;
}

ul li a:hover {
   color: #f7d88c;
   text-decoration: underline;
}

.hero {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 80px;
   gap: 5%;
}

.hero-main-text {
   font-size: 48px;
   margin-bottom: 1rem;
}

.hero-secondary-text {
   font-size: 18px;
}

.hero-image {
   border-radius: 15px;
   -webkit-box-shadow: 2px 2px 5px 1px rgba(247, 216, 140, 1);
   -moz-box-shadow: 2px 2px 5px 1px rgba(247, 216, 140, 1);
   box-shadow: 2px 2px 5px 1px rgba(247, 216, 140, 1);
}

.sign-up-btn {
   display: block;
   background-color: var(--bg-color-secondary);
   padding: 12px;
   width: 27%;
   text-align: center;
   border-radius: 10px;
   margin-top: 1rem;
   color: var(--bg-color-primary);
   text-decoration: none;
   font-size: 1.3rem;
}

.sign-up-btn:hover {
   background-color: #f7d88c;
}

/*? Main */

main {
   min-height: 65vh;
}

/** Cards  */
.cards-section {
   padding: 1rem;
   background-color: var(--bg-color-secondary);
   color: var(--bg-color-primary);
   height: 65vh;
}

.cards-section h3 {
   font-size: 35px;
   text-align: center;
}

.cards-section figure img {
   width: 250px;
   height: 250px;
   object-fit: cover;
   border: 2px solid var(--highlight-color);
   border-radius: 15px;
   -webkit-box-shadow: 0px 0px 5px 2px rgba(52, 78, 65, 1);
   -moz-box-shadow: 0px 0px 5px 2px rgba(52, 78, 65, 1);
   box-shadow: 0px 0px 5px 2px rgba(52, 78, 65, 1);
}

.cards {
   height: 59vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

figure {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

figure figcaption {
   text-align: center;
   font-size: 1.3rem;
   font-family: var(--paragraph-font);
   font-weight: 500;
}

/** Quote Section */

.inspiring-section {
   background-color: var(--bg-color-primary);
   color: var(--bg-color-secondary);
   min-height: 35vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 2.5em;
}

.inspiring-section p {
   display: block;
   font-family: var(--heading-font);
   margin: 1.2rem;
}

#autor {
   align-self: flex-end;
   margin-right: 4.5em;
   font-weight: 800;
}
